html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
body{
  font-family: "Trebuchet MS", sans-serif;
}

#header{
  width: 100vw;
}

#navbar {
  background-color: black;
  margin: auto;
  width: 100%;
  padding: 1vh;
  top: 0;
}

#brand-name {
  text-decoration: none;
  color: #adadad;
}

#welcome {
  margin: auto;
  width: 95%;
}

#main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#main > div{
  width: 90%;
  border-radius: 5px;
  box-shadow: 0 0 4px #adadad;
}

@media (min-width: 768px) {
  #main > div{
    width: 30%;
  }
}

h1, h2 {
  font-family: Helvetica;
}
h3 {
  text-align: center;
}
p{
  font-family: "Trebuchet MS", sans-serif;
}

form{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
form > label{
  margin: 5px;
}
input[type="text"], input[type="date"],
input[type="datetime-local"], input[type="email"],
input[type="month"], input[type="number"],
input[type="password"], input[type="search"],
input[type="tel"], input[type="time"],
input[type="url"], textarea
{
  border-radius: 5px;
  border: 1px solid #9d9d9d;
  height: 25px;
  max-width: 90%;
}
input {
  max-width: 90%;
  margin: 5px 0 5px;
}
input[type="submit"], input[type="reset"]{
  display: inline-block;
  width: 80px;
  max-width: 100%;
  margin: 5px 0;
  margin-left: auto;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #9d9d9d;
}
textarea{
  height: auto;
  min-width: 100%;
  min-height: 100px;
}
form > button[type="submit"] {
  border-radius: 5px;
  border: 1px solid #9d9d9d;
  height: 25px;
  width: 120px;
  margin: 20px 0;
}
.refs > form > p {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.refs > form > p > label {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
}